<% provide(:title, 'Sign in') %>
<br>
<div class="d-flex align-items-center justify-content-center mt-4">
  <div>
    <h2 class="text-center">Sign in</h2>
    <a href="/en/sign_up">
      <h5 class="text-center fw-semibold text-dark m-0">Or create an account</h5>
</a>
    <div class="mt-5 input-size">
      <form action="/en/login" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="lDdOcRUDdeojQwBTIr04cuNNvpxgQ514EU35RSus_c8H1mTHyLZQT0PVSrLxradFVnyXGloHzIedCeQpgOZ8MQ" autocomplete="off">
        <div class="mb-3 row">
          <div class="col-md-3">
            <label class="form-label" for="user_email">Email</label>
          </div>
          <div class="col-md-9">
            <input class="form-control border-danger" required="required" type="email" name="user[email]" id="user_email">
          </div>
        </div>
        <div class="mb-3 row">
          <div class="col-md-3">
            <label class="form-label" for="user_password">Password</label>
          </div>
          <div class="col-md-9">
            <input class="form-control border-danger" required="required" type="password" name="user[password]" id="user_password">
          </div>
        </div>
        <div class="text-center">
          <input type="submit" name="commit" value="Sign in" class="btn btn-danger mt-5 w-75" data-disable-with="Sign in">
        </div>
</form>    </div>
  </div>
</div>