<% provide(:title, t('mini_games.title')) %>
<header>
  <div id="mini-games" class="container d-flex flex-column align-items-center pt-5">
    <h1 class="text-danger text-center"> Chess Game </h1>
    <hr class="border border-danger w-100 border-2 my-2">
  </div>
</header>

<div class="container w-75 pt-5 border border-danger w-100 border-2 my-2" style="border-radius: 10px; background-color:blanchedalmond">
  <iframe class="container d-flex flex-column align-items-center mb-4 mt-4" style="height: 600px" src="https://www.mathsisfun.com/games/tanks2.html">
  </iframe>
</div>

<div class="container w-75 mt-3 text-center">
  <%= link_to "Back", minigames_path, class: "btn btn-secondary" %>
</div>